name: Build daisy and run tests on linux

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Install build dependencies
      run: sudo apt install cmake libsuitesparse-dev libboost-filesystem-dev python3-pybind11

    - name: Install uv for testing
      uses: astral-sh/setup-uv@v7
      with:
        version: "0.9.18"

    - name: Install python
      run: uv python install 3.13

    - name: Create build dir
      run: mkdir ci-build

    - name: Configure CMake
      working-directory: ci-build
      run: cmake .. --preset linux-gcc-portable

    - name: Build
      working-directory: ci-build
      run: cmake --build . -j 4

    - name: Test environment
      working-directory: ci-build
      run: |
        uv venv
        uv pip install git+https://github.com/daisy-model/daisypy-test

    - name: Test
      working-directory: ci-build
      run: ctest --output-on-failure

    - name: Upload test log
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v4
      with:
        name: test-output-ubuntu
        path: build/Testing
