name: Build daisy and run tests on windows

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    defaults:
      run:
        shell: msys2 {0}

    steps:
      - uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          update: true
          install: >-
            git
            mingw-w64-ucrt-x86_64-cmake
            mingw-w64-ucrt-x86_64-gcc
            mingw-w64-ucrt-x86_64-ninja
            mingw-w64-ucrt-x86_64-suitesparse
            mingw-w64-ucrt-x86_64-boost
            mingw-w64-ucrt-x86_64-pybind11
            mingw-w64-ucrt-x86_64-uv
            unzip

      - uses: actions/checkout@v5

      - name: Install python
        run: uv python install 3.13

      - name: Create build dir
        run: mkdir ci-build

      - name: Configure CMake
        working-directory: ci-build
        run: >
          cmake ..
          -DUV_INSTALLED_PYTHON_ROOT_DIR=$( ls -d $( uv python dir | tr \\\\ / )/* | grep 3.13 )
          --preset mingw-gcc-portable

      - name: Build
        working-directory: ci-build
        run: cmake --build .

      - name: Pack
        working-directory: ci-build
        run: cpack -G ZIP

      - name: Install
        working-directory: ci-build
        run: unzip $( ls | grep -e "daisy-.*-Windows-python.*zip" )

      - name: Setup test environment
        working-directory: ci-build
        run: |
          uv venv
          uv pip install git+https://github.com/daisy-model/daisypy-test

      - name: Test
        working-directory: ci-build
        run: ctest --output-on-failure

      - name: Upload test logs
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-output-windows
          path: ci-build/Testing
